/* #region normalize */
.page{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--color-dark);
  background-color: #f5f6f1;
}


.page__content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header{
  position: sticky;
  top: 0px;
}

.page__main{
flex-grow: 1;
}
/* #endregion */