.section{
  margin: 0 auto 24px;
  padding: 24px;
  max-width: 60%;
  border: 1px solid #ced2ed;
  border-radius: 16px;
  background-color: #fff;
}

.lening-formatsss{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.learning_format{
  background-color: rgb(238, 243, 229);
}