@import url(reset.css);
@import url(variables.css);


@import url(./blocks/page.css);


@import url(./blocks/header.css);
@import url(./blocks/nav.css);


@import url(./blocks/main.css);
@import url(./blocks/title.css);
@import url(./blocks/section.css);



@import url(./blocks/footer.css);













